<h1>Linear Algebra (CpE210A)

<h3>Midterms Project

Coded and submitted by:<br>
<i>Florentino, Aris Angelo Don J. <br>
    201814462 <br>
   SectionCpE210A </i>

Directions
This Jupyter Notebook will serve as your base code for your Midterm Project. You must further format and provide complete discussion on the given topic. 
- Provide all necessary explanations for specific code blocks. 
- Provide illustrations for key results.
- Observe clean code (intuitive variable names, proper commenting, proper code spacing)
- Provide a summary discussion at the end

Failure to use this format or failure to update the document will be given a deduction equivalent to 50% of the original score.

### Case

Bebang is back to consult you about her business. Furthering her data analytics initiative she asks you for help to compute some relevant data. Now she is asking you to compute and visualize her sales and costs for the past year. She has given you the datasets attached to her request.

### Problem

State and explain Bebang's problem here and provide the deliverables.

# Proof of Concept

Now that you have a grasp on the requirements we need to start with making a program to prove that her problem is solvable. As a Linear Algebra student, we will be focusin on applying vector operations to meet her needs. First, we need to import her data. We will use the `pandas` library for this. For more information you can look into their documentation [here](https://pandas.pydata.org/).

In [2]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd

%matplotlib inline

In [3]:
prices = pd.read_csv(r'C:\Users\HP Mini\Downloads\bebang-prices.csv')
sales = pd.read_csv(r'C:\Users\HP Mini\Downloads\bebang-sales.csv')

In [4]:
prices

,Unnamed: 0,red velvet,oreo,sugar glazed,almond honey,matcha,strawberry cream,brown sugar boba,furits and nuts,dark chocolate,chocolate and orange,choco mint,choco butter naught
0,price per piece,35,25,20,35,50,40,40,45,30,40,45,45
1,cost per piece,25,15,10,20,35,31,30,25,15,25,32,31

In [5]:
sales

,flavor,january,february,march,april,may,june,july,august,september,october,november,december
0,red velvet,781,524,364,157,894,56,89,41,23,78,231,899
1,oreo,210,324,344,32,123,1,3,0,1,6,312,548
2,sugar glazed,599,674,854,14,467,78,36,48,75,98,781,1602
3,almond honey,124,112,114,23,198,12,32,41,23,36,300,566
4,matcha,645,498,885,98,177,98,43,96,26,71,549,897
5,strawberry cream,210,372,369,78,163,26,45,22,54,41,207,456
6,brown sugar boba,981,380,154,14,147,15,98,33,23,36,552,633
7,furits and nuts,478,462,354,49,89,0,1,0,1,8,335,214
8,dark chocolate,598,203,36,96,789,4,5,0,8,0,789,458
9,chocolate and orange,324,123,48,32,65,74,78,45,89,100,632,231
10,choco mint,458,412,78,78,78,7,3,8,2,1,323,564
11,choco butter naught,778,586,645,100,987,63,36,89,78,99,784,2310

## Part 1: Monthly Sales

In [10]:
sales_mat = np.array(sales.set_index('flavor'))
prices_mat = np.array(prices.set_index('0'))[0] 
costs_mat = np.array(prices.set_index('1'))[1]


price_reshaped=np.reshape(prices_mat,(12,1))
cost_reshaped=np.reshape(costs_mat,(12,1))


print(sales_mat.shape)
print(price_reshaped.shape)
print(cost_reshaped.shape)

AttributeError: 'numpy.ndarray' object has no attribute 'set_index'

#### Formulas

Take note that the fomula for revenue is: <br>
$revenue = sales * price $ <br>
In this case, think that revenue, sales, and price are vectors instead of individual values <br>
The formula of cost per item sold is: <br>
$cost_{sold} = sales * cost$ <br>
The formula for profit is: <br>
$profit = revenue - cost_{sold}$ <br>
Solving for the monthly profit will be the sum of all profits made on that month.

In [20]:
def sales(price, cost, sales):
    
    
    revenue =sales_mat * price_mat.difference(axis=5)
    costs = sales_mat * costs_mat.difference(axis=5)
    profits = revenue - costs_mat*sales_mat.sum(axis=5)    
    return revenue, costs, profits

In [19]:
rev, cost, profit = sales(prices_mat, costs_mat, sales_mat)
print('revenue:','\n',rev,'\n\ncost:\n',cost,'\n\n','profits:\n',month_profit)

NameError: name 'prices_mat' is not defined

## Part 2: Flavor Sales

In [21]:
def flavor_sales(price, cost, sales):
     
     
    revenue = sales_mat*prices_mat.sum(axis=5)
    costs = sales_mat*costs_mat.sum(axis=5)
    profits = revenue - costs_mat*sales_mat.sum(axis=5)
    return profits

In [22]:
profit = sales(prices_mat, costs_mat, sales_mat)
 
print('\nFlavor Profit:\n',profit)
print('\nFlavor Sales:\n',sales_mat.sum(axis=5))

NameError: name 'prices_mat' is not defined

In [23]:
sales['Total_Sales']=[sales_mat(axis=5),sales_mat(axis=5),sales_mat(axis=5)
,sales_mat(axis=5),sales_mat(axis=5),sales_mat(axis=5),sales_mat(axis=5)
,sales_mat(axis=5),sales_mat(axis=5),sales_mat(axis=5),sales_mat(axis=5)
,sales_mat(axis=5)



sales

SyntaxError: invalid syntax (<ipython-input-23-f8dd5b536750>, line 8)

In [26]:
sale=sales_mat

sale={'month':['january','february','march','april','may','june',
                       'july','august','september','october','november','december']
              ,'sales':[sales.sum(axis=5),sales.sum(axis=5),sales.sum(axis=5),
                        sales.sum(axis=5),sales.sum(axis=5),sales.sum(axis=5),
                        sales.sum(axis=5),sales.sum(axis=5),sales.sum(axis=5),
                        sales.sum(axis=5),sales.sum(axis=5),sales.sum(axis=5):

pd.DataFrame(data=sale)

SyntaxError: invalid syntax (<ipython-input-26-a050fd1cddc3>, line 8)

In [28]:
flavor=sorted(sales.Total_Sales, reverse=True)


top_3_flavor={'top 3 flavor':['oreo','red velvet','sugar glazed'],
             'sales':[sorted_flavor,sorted_flavor,sorted_flavor]

pd.DataFrame(data=top_3_flavor)

SyntaxError: invalid syntax (<ipython-input-28-e443f102d744>, line 7)

In [29]:
least_3_flavor={'least 3 flavor':['choco mint','chocolate and orange','choco butter naught']
              ,'sales':[sorted_flavor,sorted_flavor,sorted_flavor]

pd.DataFrame(data=worst_3_flavor)

SyntaxError: invalid syntax (<ipython-input-29-d33d86d842f7>, line 4)

## Part 3: Visualizing the Data (Optional for +40%)
You can try to visualize the data in the most comprehensible chart that you can use.

#### Entire Dataset

#### Monthly Sales

#### Flavor Sales

## Part 4: Business Recommendation and Conclusion
Present the findings of your data analysis and provide recommendations

As for this activity this shows that bebang shows to us her prices for each of the food that she sells. and also she shows her sales through the 12 months of doing her business. And you can see the top 3 that she sells and the least 3. On the part 1 of this activity it shows that, bebang shows her updated monthly sales in those 12 months how much this she sells. and it shows the formula on how to compute for the monthly sales and the flavor sales for each month. And it computes also for the top 3 and the least 3 of the flavor. All i can say about for Be